* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI';
}

h1 {
    text-align: center;
    margin: 3%;
}

h4 {
    text-align: center;
    margin: 3%;
}

.timer {
    text-align: center;
    margin: 3%;
}